{% extends 'base.html' %}
{% block body %}
{% load static %}
<!-- fa-fa-icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000" style="background-image: url('static/img/about.jpg');">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Saiwin IT</span></h2>
          <h3>Crafting Tomorrow's Solutions, Today</h3>
          <!-- <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p> -->
          <p class="animate__animated animate__fadeInUp">To start business and connect with stakeholders through our Quality of Service Offerings. From ambitious startups to seasoned giants, our mission is to democratize the next evolution of eCommerce and business processes. Dive in and Let's shape the future together.</p>
          <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h3 class="animate__animated animate__fadeInDown">Empowering Your Vision, Transforming Your Reality</h3>
          <p class="animate__animated animate__fadeInUp">Let Us Help Grow Your Business.</p>
          <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h3 class="animate__animated animate__fadeInDown">Helping You To make Business Excellence</h3>
          <p class="animate__animated animate__fadeInUp"> To become Partnership with Customers by providing Staffing/Recruiting, Product development and Testing As a Service.
            </p>
          <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
        </div>
      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Services Section ======= -->
    <section class="services">
      <div class="container">

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
            <div class="icon-box icon-box-pink">
              <div class="icon">
                <!-- <i class="bx bxl-dribbble"></i> -->
                <i class="fa fa-users" aria-hidden="true"></i>
              </div>
              <h4 class="title"><a href="">HR Resourcing and Staffing</a></h4>
              <p class="description">HR Resources and Recruiting through Selection, review and interview process.Based on Customer requirements, exploratory analysis done on candidate's profile and travel along with HR process with entry and exit stages.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box icon-box-cyan">
              <div class="icon">
                <!-- <i class="bx bx-file"></i> -->
                <i class="fa fa-graduation-cap"></i>
              </div>
              <h4 class="title"><a href="">L&D</a></h4>
              <p class="description">Upskilling , Leadership and Management Trainings, Technical Virtual Trainings, Employee Growth and Training Courses.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-green">
              <div class="icon">
                <!-- <i class="bx bx-tachometer"></i> -->
                <i class="fa fa-puzzle-piece"></i>
              </div>
              <h4 class="title"><a href="">Product Development</a></h4>
              <p class="description">Planning, Design, Content Creation, Front-end and Backend Web Site/Desktop Development, Hosting, Testing and Deployment.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-blue">
              <div class="icon">
                <!-- <i class="bx bx-world"></i> -->
                <i class="fa fa-bug"></i>
              </div>
              <h4 class="title"><a href="">Testing as a Service </a></h4>
              <p class="description">Test Planning, Scheduling, Functional Testing, System Testing, Performance Testing, Security Testing, Penetration Testing, QA and Fast Delivery.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Why Us Section ======= -->
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 video-box">
            <img src="{% static 'assets/img/mission-vision.png' %}" class="img-fluid" alt="">
            <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a> -->
          </div>

          <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

            <div class="icon-box">
              <div class="icon">
                <!-- <i class="bx bx-fingerprint"></i> -->
                <i class="fa fa-binoculars"></i>
              </div>
              <h4 class="title"><a href="">Vision</a></h4>
              <p class="description">To become partnership with customers by providing staffing, recruiting, product development and testing as a service.</p>
            </div>

            <div class="icon-box">
              <div class="icon">
                <!-- <i class="bx bx-gift"></i> -->
                <i class="fa fa-bullseye"></i>
              </div>
              <h4 class="title"><a href="">Mission</a></h4>
              <p class="description">To approach customers with our service offerings and build loyalty through our service delivery.</p>
              <p class="description">To connect with our stakeholders to make them aware of our service offerings.</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Features Section ======= -->
    <section class="features">
      <div class="container">

        <div class="section-title">
          <h2>Our Services</h2>
          <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5">
            <img src="{% static 'assets/img/features-1.svg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-4">
            <h3>HR Resourcing and Staffing</h3>
            <p class="fst-italic">
              Making a Hiring Plan, Recruitment, External and Internal Recruiting, Staffing, Onboarding and Promoting Employees.
            </p>
            <ul>
              <li><i class="bi bi-check"></i>Based on customer strategy plans, we will derive the hiring process and onboarding resources on time.</li>
              <li><i class="bi bi-check"></i>Collaboration with partners to track on hiring processes with post effectiveness and feedbacks.</li>
            </ul>
          </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="{% static 'assets/img/features-2.svg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1">
            <h3>Learning and Development</h3>
            <p class="fst-italic">
              Upskilling, Leadership and Management Trainings, Technical Virtual Trainings, Employee Growth and Training Courses.
            </p>
            <p>
              We have training partners and trainig profiles are available based on customer's capability matrix and skillset matrix will support on your training plans.
            </p>
          </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5">
            <img src="{% static 'assets/img/prod.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5">
            <h3>Product Development</h3>
            <p>Planning, Design, Content Creation, Front-end and Backend Product Development, Hosting, Testing and Deployment.</p>
            <ul>
              <li><i class="bi bi-check"></i>Providing world class development solutions to the customer. </li>
              <li><i class="bi bi-check"></i>Different pricing models for different product developments are available. </li>
              <li><i class="bi bi-check"></i>Providing end-to-end support upto go-to-market.</li>
            </ul>
          </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="{% static 'assets/img/taas.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1">
            <h3>Testing as a Service</h3>
            <p class="fst-italic">
              Test Planning, Scheduling, Functional Testing, System Testing, Performance Testing, Security Testing, Penetration Testing, QA and Fast Delivery.
            </p>
            <p>
             Providing Testing as a service for product development based customers. Based on exhaustive testing quality of products are ensured before go-to-market.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

  </main><!-- End #main -->
   <!-- Vendor JS Files -->
   <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
   <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
   <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
   <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
   <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
   <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
   <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
   <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
 
   <!-- Template Main JS File -->
   <script src="{% static 'assets/js/main.js' %}"></script>
  
    {% endblock %}